/* index.html start */
h1 {
  font-size: 1.875rem; 
  color: #2D3748; 
  font-weight: bold; 
  letter-spacing: -0.015em;
  text-align: center;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3.75rem; 
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 2.8125rem !important;
  }
}


p {
  margin-top: 1.5rem;
  font-size: 1rem; 
  line-height: 1.5rem; 
}

@media (min-width: 1024px) { 
  p {
    font-size: 1.125rem;
  }
}

.custom-text-style {
  color: #2d3748; 
  text-align: center; 
  font-size: 1.5rem;
  letter-spacing: -0.025em; 
  line-height: 2.5rem;  
  font-weight: bold; 
}

@media (min-width: 1024px) {
  .custom-text-style {
      text-align: center; 
      font-size: 2.25rem;
  }
}

.custom-altmo-text-style {
  color: #0a5e1f;  
  text-align: center; 
  font-size: 1.125rem; 
  line-height: 1.5rem; 
  font-weight: 600; 
}

@media (min-width: 1024px) {
  .custom-altmo-text-style {
    text-align: center;  
      font-size: 1.25rem; 
      line-height: 1.75rem; 
  }
}

.custom-img {
  max-width: 150px; 
  height: auto; 
  display: block;
  margin: 0 auto; 
  position: relative;
  background-size: cover;
}

.my-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Each button takes 1/3 of the width */
  gap: 1rem; 
}
.my-btn-group-container {
  width: 100%; 
}
.my-btn-group {
  display: flex;
  justify-content: space-between;
  width: 100%; 
}
/* index.html end */

/* map.html start */
#map-container {
    height: 835px;
}
/* map.html end */

/* participant_session_info.html start */
h1 {
/* margin-bottom: 20px;*/
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
  font-weight: bolder;
  font-size: 60px
}
.my-table {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd; 
  /border-collapse: collapse;/
  /*border-collapse: collapse;*/
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.my-table th, .my-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  /* border-right: 1px solid #ddd; 
  white-space: pre-wrap; 
  vertical-align: middle;  */
}

.my-table thead {
  background-color: #343a40; 
  color: #fff;
  position: sticky; 
  top: 60px;
 /* overflow-y: auto;*/
  max-height: 550px;  
  overflow: auto; 
}
.my-table th {
  font-weight: bold;
 /* border-right: 1px solid #ddd;*/
}       
/* participant_session_info.html end */

/* participant_form.html start */
form label {
  display: block;
  margin-bottom: 10px;
  color: #333;
  font-size: 20px;
  }

  .my-form label {
    display: block;
    color: #4a5568; 
    font-size: 1rem;
    font-size: 0.875rem; 
    font-weight: 500;    
  }
  .my-form input[type="text"],
  .my-form input[type="email"],
  .my-form input[type="tel"],
  .my-form input[type="password"],
  .my-form input[type="file"],
  .my-form textarea,
  .my-form select {
    display: block;
    width: 100%;
    padding: 0.75rem; 
    border: 1px solid #e2e8f0; 
    border-radius: 0.375rem; 
    font-size: 0.875rem; 
    color: #4a5568; 
    background-color: #fff;
    margin-top: 0.5rem; 
    margin-bottom: 1rem; 
  }
  /*
  .my-form input[type="text"]:focus,
  .my-form input[type="email"]:focus,
  .my-form input[type="tel"]:focus,
  .my-form textarea:focus,
  .my-form select:focus {
    outline: none; 
    border-color: #012206; 
    box-shadow: 0 0 0 3px rgba(3, 44, 3, 0.705); 
  }*/
  
  .my-form input[type="submit"] {
      background-color: hsl(122, 86%, 22%);
      color: white;
      padding: 8px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }

  .my-form input[type="submit"]:hover {
      background-color: hsl(115, 84%, 27%);
  }

  .my-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 2.5rem;
  border-radius: 0.375rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border: 1px solid #e2e8f0;
  }
  

  form button {
    background-color: hsl(122, 86%, 22%);
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
   /* width: 415px; 
    height: 40px;*/
}

  form button:hover {
      background-color: #05740a;
  }

  #message {
      font-weight: bold;
      margin-top: 15px;
      color: #107e14;
  }

  .error {
      color: #0a0a0a8c;
      margin-top: 5px;
  }

  .info {
      color: #008CBA;
      margin-top: 5px;
  }
  
  .success {
  background-color: #D4EDDA;
  border: 1px solid #C3E6CB;
  color: #155724;
  }
      
  .error {
      /*background-color: #F8D7DA;
      border: 1px solid #F5C6CB;*/
      color: #721C24;
  }
  
  .response-message {
      font-weight: bold;
      margin-top: 15px;
      padding: 10px;
      border-radius: 5px;
      text-align: center;
      transition: opacity 0.3s ease-in-out;
      opacity: 0; 
  }
/* participant_form.html end */

/* feedback form start*/
input[type="radio"],
input[type="checkbox"] {
  margin-right: 5px;
}

.star-rating {
  font-size: 24px;
  display: inline-block;
}

.star-rating input {
  display: none;
}

.star-rating label {
  float: right;
}

.star-rating label:before {
  content: "\2605";
  margin: 5px;
  font-size: 30px;
  cursor: pointer;
}

.star-rating input:checked ~ label:before {
  content: "\2605";
  color: gold;
}

.star-rating input:checked[name="trainer_evaluation"] ~ label:before {
  color: hwb(44 0% 0%);
}
/*.form-group {
  margin: 10px 0;
}*/
/* feedback form end*/

/* organization_form.html start*/
.error-message {
  color: #721C24;
  margin-top: 5px;
  display: none;
}
.alert {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid transparent;
}

.alert-success {
  background-color: #D4EDDA;
  border: 1px solid #C3E6CB;
  color: #155724;
}

.alert-danger {
  background-color: #F8D7DA;
  border: 1px solid #F5C6CB;
  color: #721C24;
}
/* input[type="file"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 95%;
  margin-bottom: 10px;
}*/
/* organization_form.html end*/

/*participant_admin.html start*/
 .custom-update-button {
  background-color: rgb(5, 87, 5); 
} */
/*participant_admin.html end*/

/* sessions_form.html start */
.container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  border-radius: 5px;
  margin: 0 auto;
  height: 40px;
}
/*
.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
/*
.form-group input,
.form-group textarea,
.form-group select {
width: 100%;
padding: 180px;
border: 1px solid #0e0d0d;
border-radius: 3px;
}*/
/*
.form-group .date-time-wrapper {
  display: flex;
  align-items: center;
}

.form-group .date-time-wrapper .date-input,
.form-group .date-time-wrapper .time-input {
  flex: 1;
  margin-right: 10px;
}

.form-group .date-input[type="date"]::-webkit-inner-spin-button,
.form-group .date-input[type="date"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-group .time-input[type="time"]::-webkit-inner-spin-button,
.form-group .time-input[type="time"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-group input[type="file"] {
  padding: 6px 10px;
}

.form-group button {
  padding: 10px 20px;
  background-color: #137216;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #45a049;
}

.form-group select#trainer-name {
width: 100%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 3px;
}
.form-group select#participant-name {
width: 100%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 3px;
}
.form-group select#hours-trained {
width: 100%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 3px;
}
*/

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: rgb(153, 224, 112);
  color: white;
}
.pagination a:hover:not(.active) {background-color: #ddd;}
/* sessions_form.html end */

/* signup.html start */
form input {
width: 100%;
padding: 10px;
margin-bottom: 10px;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 18px;
}
/* signup.html end*/

/* trainer_details.html start */
th:nth-child(10),
td:nth-child(10) {
  width: 30%; 
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2; 
}
/* trainer_details.html end */

/* trainer form.html start */
.my-con-container{
max-width: 1000px;
margin: 0 auto;
padding: 20px;
border-radius: 4px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* trainer form.html end */

/* training location start */
.training-list-container {
margin: 20px;
}

.training-list-table {
width: 100%;
border-collapse: collapse;
}

.training-list-table th {
background-color: #222529;
color: #fff;
text-align: center;
position: sticky;
top: 100px; 
}

.training-list-table th, .training-list-table td {
padding: 10px;
text-align: center;
}

.training-list-table tbody tr:nth-child(odd) {
background-color: #f2f2f2;
margin: 0;
padding-top: 50px;
}

.delete-selected-btn {
margin-top: 10px;
}

.carousel-img {
  height: 300px; 
  width: 800px;
  object-fit: cover; 
  
 
  /*height: auto;
  style="max-width: 800px;*/ 
  display: block;
  margin: 0 auto; 
  position: relative;
 /* background-size: cover;*/
}


.background-img {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; 
}

.blur-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(70px); 
  z-index: -1; 
}

.form-title {
  margin-top: 6rem; 
  text-align: center;
  font-size: 2rem;
  font-weight: bold; 
  letter-spacing: -0.025em; 
  color: #080808; 
}

.custom-link {
  font-weight: medium; 
  color: #1d7948; 
  transition: color 0.3s; 
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #0a8114;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
footer {
  position: absolute; 
 
  width: 100%;
}
#footer-body {
  background-color: #1a202c;
  color: #f7fafc;
  border-top-width: 2px;
  border-top-color: #38a169;
  padding: 24px 16px;
  padding-top: 24px;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 16px;
  gap: 24px;
  margin-top: 20px; 
  
}

#footer-body .font-bold {
  font-weight: 700;
}

#footer-body .text-lg {
  font-size: 1.125rem;
}

#footer-body .text-sm {
  font-size: 0.875rem;
}


#footer-body a {
  text-decoration: none;
  /*text-transform: capitalize; / Capitalize text */
}

#footer-body a.text-b {
  font-size: 16px; 
}

#footer-body .text-h {
  font-size: 20px; 
}

/*navbar */
.custom-navbar {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); 
  padding: 20px 20px; 
  margin-bottom: 20px; 
}
.custom-navbar .navbar-nav .nav-item {
  margin-right: 20px; 
}
.custom-btn {
  border: 2px solid rgb(223, 221, 221); 
  transition: all 0.3s ease-in-out; 
  padding: 5px 10px; 
  font-size: 15px; 
  width: auto; 
}

/* Hover for login and logout buttons */
.custom-btn:hover {
  background-color: rgb(233, 229, 229); 
  color: rgb(196, 194, 194); 
  border-color: rgb(223, 219, 219); 
}

.custom-icon {
  color: black; 
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container h4 a {
  text-decoration: none;
  color: black;
}


.text-altmo-green-100 {
  color: #0a5e1f; 
}

.arrow-icon {
  width: 1.5rem; 
  height: auto; 
}

.btn-altmo-green {
  color: #0a5e1f; 
  background-color: #f3f5f3;
  border-color: #0a5e1f; 
}

.btn-altmo-green:hover {
  color: #FFFFFF; 
  background-color: #0a5e1f; 
  border-color: #0a5e1f;
}

.btn-altmo-green-borgered {
  color: #0a5e1f; 
  background-color: #f5f7f5; 
  border-color: #0a5e1f; 
}

.btn-altmo-green-borgered:hover {
  color: #fffdfd; 
  background-color: #0a5e1f; 
  border-color: #0a5e1f; 
}
.capsule-container-ref {
  display: flex;
  align-items: center;
  background-color: #4d536d; 
  padding: 5px;  
  border-radius: 180px; 
  border: 5px solid #e4e1e1; 
  width: fit-content;
  
}

.capsule-container-ref:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}


.capsule-container-ref img {
  margin-right: 80px; 
}
.bg-gray-500 {
  background-color: #d1d5db; 
}

.text-white {
  color: #fff;
}

.capsule-container {
  display: flex;
  align-items: center;
  background-color: #fcfcfc; 
  padding: 5px;  
  border-radius: 50px; 
  border: 2px solid #e4e1e1; 
  width: fit-content;
  
}

.capsule-container:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}


.capsule-container img {
  margin-right: 10px; 
}

.custom-card {
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  border: 2px solid #e7e5e5; 
}

.custom-card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.custom-card .card-title {
  color: #0a5e1f; 
}

.custom-card .card-list {
  padding-left: 20px;
}

.custom-card .card-list li {
  font-size: 18px; 
  color: #555;
  margin-bottom: 5px; 
  display: flex;
  justify-content: space-between;

}

.plain-number {
  font-size: 18px;
}

/* CSS for the Banner Section */
.panel-div {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    
}

.bg-slate-600 {
    background-color: #4c586d;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.rounded-md {
    border-radius: 0.375rem;
}

.shadow-lg {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.text-white {
    color: #fff;
}

.text-sm {
    font-size: 0.875rem;
}

.font-semibold {
    font-weight: 600;
}

.inline-flex {
    display: inline-flex;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.p-2 {
    padding: 0.5rem;
}

.bg-slate-700 {
    background-color: #3a475e;
}

.ml-3 {
    margin-left: 0.75rem;
}

.hidden {
    display: none;
}

.order-2 {
    order: 2;
}

.sm:w-auto {
    width: auto;
}

.focus\:outline-none:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.focus\:ring-2:focus {
    box-shadow: 0 0 0 2px rgba(34, 69, 99, 0.582);
}

.transition-all {
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ease-in-out {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.duration-[120ms] {
    transition-duration: 120ms;
}

.active\:scale-95:active {
    transform: scale(0.95);
}
.carousel-img {
  height: 500px; 
  width: 100%; 
  object-fit: cover; /* Ensure the image covers the entire carousel item */
  display: block;
  margin: 0 auto; 
  position: relative;
}

/* reduce container height */
.container {
  max-height: 500px; 
  
}
@media (min-width: 640px) {
  .grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));}}
/* training location end */


/* trainer_admin.html start */
/*img {
height: 50px;
width: 50px;
}

video {
width: 100%;
}*/
/* trainer_admin.html end */


/*participant_info.html start */
/*.table-container {
 /* max-height: 500px; 
 /* overflow-y: auto; 
  /*margin-top: 10px; 
/*}
/*.table-container {

thead th {
  background-color: #343a40;
  color: #fff;
  position: sticky;
 
  top: 20px;

}*/
/*participant_info.html end */

/* trainer form.html start */
/*.container {
max-width: 1000px;
margin: 0 auto;
padding: 20px;
border-radius: 4px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}*/
/* trainer form.html end */

/*participant_display.html start*/
/*.container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
button {
  margin-top: 20px;
}
/*
thead th {
  background-color: #008000;
 /* color: #ffffff; 
 /* position: sticky; 
}
*/

/*participant_display.html end */
/*form */
/*
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
  /*padding: 20px;
  margin: 0;
  padding-top: 50px;*/
/*}*/
/*form */
.c-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #e7e5e5; 
  border-radius: 10px; 
  padding: 20px; 
}
.c-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}


.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.modal-content {
  background-color: #fff;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  max-width: 60%;
  position: relative;
  overflow: auto;
  max-height: 90%;
}



.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-close {
  background: none;
  border: none;
  font-size: 50px;
  cursor: pointer;
}

.modal-body {
  margin-top: 20px;
}
/*
.modal-toggle {
  display: none;
}



.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
} */

.my-form button {
  background-color: hsl(122, 86%, 22%);
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* Remove fixed width and height */
  /* width: 415px; */
  /* height: 40px; */
}

.my-form button:hover {
  background-color: hsl(115, 84%, 27%);
}
.same-width-button {
  width: 100%; /* Adjust this value as needed */
}
