{% extends "application.html" %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block title %} Admin Homepage {% endblock %}

{% block content %}
<div class="container-fluid" style="margin-top: 80px;">
  <img src="\static\Image\banner-img.jpg" class="banner-img">
    <!--<img src="\static\Image\banner-img.jpg" alt="home-banner" class="img-fluid banner-img" style="height: 300px; width: 1800px ; position: relative; background-size: cover; ">-->
  <br>
  <h1 class="text-center" >Welcome Admin</h1>
  <div class="my-con-container">
    <div class="col-lg-7">
      <div class="px-5 py-3 mx-auto rounded-3" >
        <div id="summary-data">
          <!-- Data from the 'summary' route will be displayed here -->
        </div>
      </div>
    </div>
  </div>
  <script>
    // Use AJAX to fetch data from the 'summary' route
    fetch('/summary')
      .then(response => response.text())
      .then(data => {
        // Update the content of the 'summary-data' div with the received data
        document.getElementById('summary-data').innerHTML = data;
      })
      .catch(error => {
        console.error('Error:', error);
      });
  </script>
</div>
{% endblock %}
