{% extends "application.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block title %} Admin Homepage {% endblock %}
{% block content %}
  <div class="container-fluid" style="margin-top: 200px;"> 
    <h1 class="text-center" >Admin Page</h1>
    <div class="col-lg-8 px-5 py-3 mx-auto rounded-3 bg-text-secondary" style="margin-top: 30px; margin-bottom: 100px;" >
      <div id="summary-data"></div>
    </div>
    <script>
      // Used AJAX to fetch data from the 'summary' route
      fetch('/summary')
        .then(response => response.text())
        .then(data => {
          document.getElementById('summary-data').innerHTML = data;
        })
        .catch(error => {
          console.error('Error:', error);
        });
    </script>
  </div>
{% endblock %}
