<!doctype html>
<html>
  <head>
    {% block head %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{% block title %} Altmo Ride School {% endblock %}</title>
      <!-- bootstrap css & js -->
      <link rel="stylesheet" href="/altmo_rideschool/static/bootstrap-5.3.1-dist/css/bootstrap.min.css">
      <link href="/altmo_rideschool/static/bootstrap-5.3.1-dist/js/bootstrap.bundle.min.js">
      <!-- jquery CDN -->
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <!-- font-awesome -->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
      <!-- google fonts -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap" rel="stylesheet"> 
      <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    {% endblock %}
  </head>
  <body>
    {% include 'updated_navbar.html' %}
    <div id="content">
      {% block content %}{% endblock %}
    </div>
    {% include 'updated_footer.html' %}
  </body>
</html>