{% extends "application.html" %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block title %} Feedback Form {% endblock %}

{% block content %}
    <div class="container" style="margin-top: 100px;">    
        <h1>Feedback Form</h1>
        <form action="/feedback-form" method="post" id="feedback-form">
            <div class="form-group">
                <label for="participant_name">Participant Name:</label>
                <input type="text" id="participant_name" name="participant_name" value="{{ participant_name }}" required><br>
            </div>
            <div class="form-group">
                <label for="participant_code">Participant Code:</label>
                <input type="text" id="participant_code" name="participant_code" value="{{ result['code'] }}" required><br>
            </div>
            <div class="form-group">
                <label for="participant_updated_at">Training Completion Date and time:</label>
                <input type="text" id="participant_updated_date" name="participant_updated_date" value="{{ result['updated_date'] }}" required><br>
            </div>
            <div class="form-group">
                <label for="session_duration">Session Enrolled:</label>
                <input type="text" id="session_duration" name="session_duration" value="{{ result['session_count'] }}" required><br>
            </div>
            <div class="form-group">
                <label for="name">Trainer Name:</label>
                <input type="text" id="name" name="name" value="{{ trainer_name }}" required><br>
            </div>
            <div class="form-group">
                <label for="training_rating">Rate your training sessions (1-5 stars):</label>
                <div class="star-rating">
                    <input type="radio" id="star5" name="training_rating" value="5" >
                    <label for="star5"></label>
                    <input type="radio" id="star4" name="training_rating" value="4">
                    <label for="star4"></label>
                    <input type="radio" id="star3" name="training_rating" value="3">
                    <label for="star3"></label>
                    <input type="radio" id="star2" name="training_rating" value="2">
                    <label for="star2"></label>
                    <input type="radio" id="star1" name="training_rating" value="1">
                    <label for="star1"></label>
                </div>
            </div>
            <div class="form-group">
                <label>Did you find the learner's guide useful?</label>
                <label for="learner_guide_yes">Yes</label>
                <input type="checkbox" id="learner_guide_yes" name="learner_guide" value="yes">
                <label for="learner_guide_no">No</label>
                <input type="checkbox" id="learner_guide_no" name="learner_guide" value="no"><br>
            </div>
            <div class="form-group">
                <label for="additional_feedback">Please provide any additional feedback, including what challenges you faced and what you liked about it:</label>
                <textarea id="additional_feedback" name="additional_feedback" rows="4" cols="50" required ></textarea><br>
            </div>
            <div class="form-group">
                <label>Do you feel confident to ride a bicycle?</label>
                <label for="confidence_yes">Yes</label>
                <input type="radio" id="confidence_yes" name="confidence" value="yes">
                <label for="confidence_no">No</label>
                <input type="radio" id="confidence_no" name="confidence" value="no"><br>
            </div>
            <div class="form-group">
                <label for="trainer_evaluation">How will you evaluate our trainer?</label>
                <div class="star-rating">
                    <input type="radio" id="trainer_star5" name="trainer_evaluation" value="5" >
                    <label for="trainer_star5"></label>
                    <input type="radio" id="trainer_star4" name="trainer_evaluation" value="4">
                    <label for="trainer_star4"></label>
                    <input type="radio" id="trainer_star3" name="trainer_evaluation" value="3">
                    <label for="trainer_star3"></label>
                    <input type="radio" id="trainer_star2" name="trainer_evaluation" value="2">
                    <label for="trainer_star2"></label>
                    <input type="radio" id="trainer_star1" name="trainer_evaluation" value="1">
                    <label for="trainer_star1"></label>
                </div>
            </div>
            <div class="form-group">
                <label for="trainer_feedback">Please provide feedback for the trainer:</label>
                <textarea id="trainer_feedback" name="trainer_feedback" rows="4" cols="50" required></textarea><br>
            </div>
            <div style=" text-align:center">
                <button type="submit" >Submit Feedback</button>
            </div>
            <!--<div id="message-container">
            </div>-->
        </form>
        <script>
            // JavaScript code for handling form submission and displaying custom alerts
            $(document).ready(function () {
                $('#feedback-form').on('submit', function (event) {
                    event.preventDefault(); // Prevent the form from submitting normally

                    var formData =  $(this).serialize();
                    $.ajax({
                        url: '/feedback-form',
                        type: 'POST',
                        data: formData,
                        success: function (response) {
                            alert(response.message);

                            if (response.alert_type === 'success') {
                                window.location.href = '/participants-display';                            
                            } else {
                                $('#feedback-form')[0].reset();
                            }
                        },
                        error: function (xhr, status, error) {
                            var responseText = xhr.responseJSON;
                            alert(responseText && responseText.message || 'An error occurred while processing the signup.');
                        }
                    });
                });
            });           
        </script>
  
    </div>
{% endblock %}