<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  

  <title>AltMO Ride School </title>

  

<link href="static/bootstrap-5.3.1-dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="fontawesome-free-6.2.0-web/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link rel="preconnect" href="https://fonts.googleapis.com"> 
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
  <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap" rel="stylesheet">
  <link href="static/css/cbtp.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

 
  
  <style>
    .custom-img {
      max-width: 150px; /* Set the maximum width for the image */
      height: auto; 
      display: block;
      margin: 0 auto; 
      position: relative;
      background-size: cover;
    }
  </style>

<style>
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Each button takes 1/3 of the width */
    gap: 1rem; 
  }

  .btn-group-container {
    width: 100%; /* Each button group takes the full width of the page */
  }

  .btn-group {
    display: flex;
    justify-content: space-between;
    width: 100%; 
  }

  
  
</style>


</head>

<body>

<!-- Navigation -->
{% include 'navbar.html' %}


<img src="\static\Image\banner-img.jpg" alt="home-banner" class="img-fluid" style="height: 300px; width: 1800px ; position: relative; background-size: cover; ">
<div class= "container mx-2 mx-auto">
<center>
<div class="container mt-4">
  <div class="btn-group" role="group" aria-label="Registration Forms">
    <a href="participant-form" class="btn btn-warning">       Participant Registration       </a>
    <a href="trainer-form" class="btn btn-secondary">       Trainer Registration       </a>
    <a href="organization-form" class="btn btn-info">       Organization Registration       </a>
  </div>
</div>
</center>

      <br>  
<div class="container">
  <div class="d-grid">
      <a href="/signup" class=" btn btn-success btn-block   ">Create an account.</a>
    </div>

    </div>

  <div class="row text-justify mt-5">
    <div class="col-lg-6">
      <br>
      <br>
      <br>
      <div class="text-center py-1 rounded-3"><h2 style="font-family: 'Baloo 2', cursive;">What is <img src="\static\Image\AltMo - Ride school.png" height="40" class="d-inline-block align-center" alt="altmo" class="img-thumbnail">?</h2></div>
      <div class="py-3 mx-auto rounded-3">
        <p class="lead" style="text-indent: 30px; text-align: justify;">
          AltMo Ride School is a Certified Bicycle Training Program where participants undergo a training that prepares them to properly participate in Indian traffic as a cyclist. Its main mission is to enable you to confidently handle your bicycle in city roads. This program is to promote active mobility in Bangalore and get more cyclists on the roads. A completion certificate rounds up the accomplishment of the participant.
        </p>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="text-center py-1 bg-warning rounded-3">
        
      </div>
      <div class="px-5 py-3 mx-auto rounded-3 bg-warning">
        <div id="summary-data">
         
        </div>
      </div>
    </div>
    <div class="row mt-4 justify-content-md-center"> 
      <div class="col-lg-8">
        <h2 class="text-center mb-3" style="font-family: 'Baloo 2', cursive;">Why are we doing <img src="\static\Image\AltMo - Ride school.png" height="40" class="d-inline-block align-center" alt="altmo" class="img-thumbnail">?</h2>
        <p class="lead">Our goal is to create enthusiasm and confidence amongst people by teaching how to safely handle the bicycle. </p>
          <div  class="lead text-left mb-5">
            <ul class="list-unstyled">
            <li><i class="fa fa-eye fa-fw text-primary"></i> Creating perspective - Educate the public on rights and responsibilities. </li>
            <li><i class="fa fa-child fa-fw text-primary"></i> Beginning with the notion that children are the country's future and tomorrow's citizens will assist to develop that worldview.</li>
            <li><i class="fa fa-female fa-fw text-primary"></i> Promote women's participation in society by introducing cycling to the economically underprivileged areas of the population.</li>
          </ul>
        </div>
      </div>
        <div class="col-lg-2">
          <img src="/static/Image/why-image.png" class="custom-img" alt="Cycles for All">

      </div>
  </div>

    <div class="row mt-2 justify-content-md-center"> 
      <div class="col-lg-3">
           <img src="\static\Image\how-image.png" class="img-fluid" style="object-fit: cover;" alt="cycles for all">
     </div>
      <div class="col-lg-8">
        <h2 class="text-center mb-3" style="font-family: 'Baloo 2', cursive;">How are we doing this?</h2>
          <div class="lead text-left mb-0">
            <ul class="list-unstyled">
              <li><i class="fa fa-chart-line fa-fw text-success"></i> Improve their cycling skills.</li>
              <li><i class="fa fa-traffic-light fa-fw text-success"></i> Increase the participants' knowledge of traffic rules. </li>
              <li><i class="fa fa-biking fa-fw text-success"></i> Popularise the idea of cycling.</li>
              <li><i class="fa fa-heart fa-fw text-success"></i> Improve their health by using non-motorized transport.</li>
              <li><i class="fa fa-trophy fa-fw text-success"></i> Have every participant trained by a certified/professional instructor or trainer</li>
            </ul>
          </div>
        </div>
      </div>

  <!-- Icons Grid -->
  <div class="row features-icons text-center">
    <div class="col-lg-4">
      <div class="features-icons-item mx-auto mb-3 mb-lg-0 mb-lg-3">
        <div class="features-icons-icon d-flex">
          <!--<i class="fa fa-graduation-cap fa-2x fa-fw m-auto" style="color: forestgreen;"></i>-->
        </div>
        <h3 style="font-family: 'Baloo 2', cursive;">Participant</h3>
        <p class="lead mb-0">Do you wish to cycle confidently on our roads? <a href="mailto: councilforactivemobility@gmail.com?subject=[Green Residences] We wish to associate with CFAM" class="text-decoration-none">Click here</a> to get trained by certified trainers at your nearest available location and recieve a certificate of accomplishment on completion of the training. You will be trained for a minimum of 10 hours by certified trainers and will undergo a road worthiness assment along with learning the rules of the road as a cyclist.</p>
      </div>
    </div>
    <div class="col-lg-4 col-xs-12">
      <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
       <div class="features-icons-icon d-flex">
         <i class="fa fa-person-biking fa-2x fa-fw m-auto" style="color: darkorange;"></i> 
        </div> 
        <h3 style="font-family: 'Baloo 2', cursive;">Trainer</h3>
        <p class="lead mb-0">Trainers undergo rigorous training and achieve certifcation from experienced instructors from Bangalore Bicycling school. <a href="mailto: councilforactivemobility@gmail.com?subject=[Green Institution] I am a green institution" class="text-decoration-none">Click here</a> to become a certified trainer. We are on the lookout for women trainers a majority of our participants are women and children. You should know how to ride a bicycle confidently and be prepared to undergo a certification of minimum 6 hours for the same.</p>
      </div>
    </div>
    <div class="col-lg-4 col-xs-12">
      <div class="features-icons-item mx-auto mb-0 mb-lg-3">
        <div class="features-icons-icon d-flex">
          <i class="fa fa-person-chalkboard fa-2x fa-fw m-auto" style="color: darkslateblue;"></i>
        </div>
        <h3 style="font-family: 'Baloo 2', cursive;">Instructor</h3>
        <p class="lead mb-0">Select group or master trainers from Bangalore Bicycling School are called instructors and they oversee the program and its contents. They have been training people in Bengaluru for the past 8 years and have established methodologies which they bring to this program.</p>
      </div>
    </div>
  </div> 

  <div class="row mb-5 mx-auto"> <!-- partner row -->
    <h2 class="text-center" style="font-family: 'Baloo 2', cursive;">Partners</h2>
  </div>
  <div class="row text-center justify-content-md-center mx-auto my-auto">
    <div class="col-lg-2">
      <figure>
        <img src="\static\Image\dult-logo.png" class="logo-img" alt="DULT">
        <figcaption class="figure-caption">Directorate of Urban Land Transport</figcaption>
      </figure>
    </div>
    <div class="col-lg-2">
      <figure>
        <img src="\static\Image\knmta-logo.png" class="logo-img" alt="KNMTA">
        <figcaption class="figure-caption">Karnataka Non-Motorised Transport Agency</figcaption>
      </figure>
    </div>
    <div class="col-lg-2">
      <figure>
        <img src="\static\Image\trin-trin-logo.jpg" class="logo-img" alt="Trin-Trin">
        <figcaption class="figure-caption">Karnataka Bicycling</figcaption>
      </figure>
    </div>
    <div class="col-lg-2">
      <figure>
        <img src="\static\Image\cifos-logo.jpg" class="logo-img" alt="CiFoS">
        <figcaption class="figure-caption my-auto">Citizens for Sustainability</figcaption>
      </figure>
    </div>
    <div class="col-lg-2">
      <figure>
        <img src="\static\Image\kbda-logo.jpg" class="logo-img" alt="KBDA">
        <figcaption class="figure-caption my-auto">Karnataka Bicycle Dealers Association</figcaption>
      </figure>
    </div>
    <div class="col-lg-2">
      <figure>
        <img src="\static\Image\bbs-logo.png" class="logo-img" alt="BBS">
        <figcaption class="figure-caption m-auto">Bangalore Bicycling School</figcaption>
      </figure>
    </div>
  </div>

</div><!-- container -->

  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#exampleModal">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="mailto: councilforactivemobility@gmail.com?subject=[Contact]" class="text-decoration-none">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#" class="text-decoration-none">ಕನ್ನಡ</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; <img src="\static\Image\AltMo - Ride school.png" height="30" class="d-inline-block align-center px-1" alt="altmo" class="img-thumbnail"> All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#" target="_blank">
                <i class="fab fa-facebook fa-2x fa-fw"style="color: #1877F2;"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#" target="_blank">
                <i class="fab fa-twitter-square fa-2x fa-fw" style="color: #1DA1F2;"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" target="_blank">
                <i class="fab fa-instagram fa-2x fa-fw" style="color: #E4405F;"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" target="_blank">
                <i class="fab fa-telegram-plane fa-2x fa-fw" style="color: #0088CC;"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">About</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row text-center justify-content-md-center mx-auto mt-3 mb-5">
                <div class="col text-align-top">
                  <p>This is an initiative of Karnataka Non-Motorised Transport Agency (KNMTA) in association with Citizens for Sustainability (CiFoS), Bangalore Bicycleing School (BBS) and partner organisations. The target is to train as many people as possible in Karnataka to learn to cycle confidently on Indian streets. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
  <!-- Bootstrap core JavaScript -->
  <script src="static/bootstrap-5.3.1-dist/js/bootstrap.bundle.min.js"></script>
  <!--start summary that is displayed on the screen is being the includ of summary.html so i am giving the summary.py that is the python code rout over here to fetch the data from the  database and display here an in the form i a, giving the id  that is this code  <div id="summary-data"> -->
  <script>
    // Use AJAX to fetch data from the 'summary' route
    fetch('/summary')
      .then(response => response.text())
      .then(data => {
        // Update the content of the 'summary-data' div with the received data
        document.getElementById('summary-data').innerHTML = data;
      })
      .catch(error => {
        console.error('Error:', error);
      });
  </script>
</body>
</html>
