{% extends "application.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block title %} Homepage {% endblock %}
{% block content %}
  <div class="container-fluid" style="margin-bottom: 180px;">
    <div class="row mt-2">
      <div class="col-lg-12">
        {% include "tital.html" %}
      </div>
    </div>
    <div class="container second-container footer-container">    
      <div class="custom-text-style container col-lg-5" style="margin-top: 10px;">Discover the impact of AltMo's Small Changes.</div>
      <div class="custom-altmo-text-style" style="margin-top: 10px;">
        Empowering cycling learners to make a big difference.
      </div>
      <div class="container col-lg-8 footer-content" style="order: 2;">
        <div class="text-gray-800 text-center lg:text-left text-5xl lg:text-7xl tracking-tight leading-10">
          <p class="text-gray-900 " style="color: #5e5d5d;">
            AltMo Ride School’s innovative platform provides you with the tools and resources needed to effectively track and analyze your cycling progress, enabling you to embark on a rewarding learning journey in the world of cycling.
          </p>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 10px;">
      <div class="col-lg-12">
        <div id="summary-data"></div>
      </div>
    </div>
    <div class="container footer-container" style="margin-top: 100px;">
      <div class="custom-text-style">
        How does this work?
      </div>
      <div class="custom-altmo-text-style" style="margin-top: 10px; ">
        Master Urban Cycling, Track Your Progress.
      </div>
      <div class="container col-lg-7 footer-content">
        <div class="text-gray-800 text-center tracking-tight ">
          <p class="text-gray-900 " style="color: #5e5d5d;">
            We prioritize data-driven skill development. Learn to cycle confidently in city settings—commute actively and let us quantify your journey towards safer, greener mobility.
          </p>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-lg-12">
        {% include "know_about.html" %}
      </div>
    </div>
  </div>

  <script>
    // AJAX to fetch data from the 'summary' route
    fetch('/summary')
      .then(response => response.text())
      .then(data => {
        document.getElementById('summary-data').innerHTML = data;
      })
      .catch(error => {
        console.error('Error:', error);
      });
  </script>
{% endblock %}
