{% block content %}
<div class="custom-text-style" style="margin-bottom: 10px; margin-top: 20px;">
  Get Started
</div>

<div class="custom-altmo-text-style" >
  Are you ready to change the way the world commutes?
</div>

<div class="row text-justify mt-5 content justify-content-md-center card-container">
  <div class="col-lg-3">
    <div class="c-card">
      <div class="space-y-4">
        <div class="header-container inline-flex items-center justify-between w-full">
          <h4 class="text-altmo-green-100 text-lg lg:text-xl font-semibold text-altmo-green-100 ">What</h4>
        </div>
        <hr class="text-gray-700">
        <p>AltMo Ride School is a certified bicycle training program.</p>
        <p>It prepares participants for safe cycling in Indian traffic.</p>
        <p>The mission is to boost active mobility and increase cyclists on city roads.</p>
        <p>Participants receive a completion certificate.</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="c-card">
      <div class="space-y-4">
        <div class="header-container inline-flex items-center justify-between w-full">
          <h4 class="text-altmo-green-100 text-lg lg:text-xl font-semibold">How</h4>
        </div>
        <hr class="text-gray-700">
        <p>Improves cycling skills and traffic rule knowledge.</p>
        <p>Popularizes cycling as a mode of transport.</p>
        <p>Enhances public health by promoting non-motorized travel.</p>
        <p>Provides personalized training by certified instructors.</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="c-card">
      <div class="space-y-4">
        <div class="header-container inline-flex items-center justify-between w-full">
          <h4 class=" text-altmo-green-100 text-lg lg:text-xl font-semibold">Why</h4>
        </div>
        <hr class="text-gray-700">
        <p>To foster enthusiasm and confidence in cycling.</p>
        <p>Educate on rights and responsibilities in traffic.</p>
        <p>Cultivate a cycling culture, especially among children.</p>
        <p>Encourage women's participation through outreach to underprivileged areas.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
