{% extends "application.html" %}

{% block head %}
    {{ super() }}
        <!-- include  the Folium CSS -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
        <!-- script tags include the Leaflet and Folium JavaScript libraries. -->
        <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
        <script src="https://unpkg.com/folium@0.12.1/folium.js"></script>
{% endblock %}

{% block title %} AltMo Ride School Map {% endblock %}
    
{% block content %}
<!--<div class="container" style="margin-top: 90px;">-->
    <!-- The map container -->
    <div id="map-container"></div>
    <script>
        // Fetch locations from the server (replace this with your actual data)
        var locations = {{ locations|tojson|safe }};  
        //var locations = {{ locations|tojson|safe }}; is used to pass the locations variable from the Flask server to the JavaScript code in the template. In your case, you are already passing the locations from the server to the template using render_template('map.html', locations=locations) in your show_map route.//
        //Make sure that your locations variable is a list of lists or a list of tuples where each inner list or tuple contains latitude and longitude values, as the JavaScript code assumes this structure.
        
        // Create a Folium map
        var myMap = L.map('map-container').setView([12.9716, 77.5946], 13);

        // Add a tile layer to the map
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(myMap);

        // Add markers to the map for each location
        locations.forEach(function (location) {
            var marker = L.marker([location.latitude, location.longitude])
                .bindPopup('Marker Popup Text')
                .addTo(myMap);
        });
    </script>
<!--</div>-->
{% endblock %}
