{% extends "application.html" %}
{% block head %}
  {{ super() }}
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        th { 
            background-color: #f2f2f2;
        }
    </style>
{% endblock %}

{% block title %} Homepage {% endblock %}

{% block content %}
    <h1>Organization Table</h1>
    <table>
        <tr>
            <th>Organization ID</th>
            <th>Organization Name</th>
            <th>Organization Address</th>
            <th>Organization Contact</th>
            <th>Organization Email</th>
            <th>Organization Type</th>
            <th>Organization Activities</th>
            <th>Coordinator Name</th>
            <th>Coordinator Email</th>
            <th>Organization Created At</th>
            <th>Organization Updated At</th>
        </tr>
        {% for row in organizations %}
        <tr>
            <td>{{ row.organization_id }}</td>
            <td>{{ row.organization_name }}</td>
            <td>{{ row.organization_address }}</td>
            <td>{{ row.organization_contact }}</td>
            <td>{{ row.organization_email }}</td>
            <td>{{ row.organization_type }}</td>
            <td>{{ row.organization_activities }}</td>
            <td>{{ row.coordinator_name }}</td>
            <td>{{ row.coordinator_email }}</td>
            <td>{{ row.organization_created_at }}</td>
            <td>{{ row.organization_updated_at }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endblock %}
