{% extends "application.html" %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block title %} Organizationpage {% endblock %}
    
{% block content %}
    <div style="margin-top: 120px;">
        <h1 >Organization </h1>
        <table class="my-table table table-striped table-bordered border-dark">
            <thead>
                <tr>
                    <th>Organization Name</th>
                    <th>Organization Address</th>
                    <th>Organization Contact</th>
                    <th>Organization Email</th>
                    <th>Organization Type</th>
                    <th>Legal Status Document</th>
                    <th>Co-ordinator Name</th>
                    <th>Coordinator Email</th>
                    <th>Coordinator Contact</th>
                    <th>Created At</th>                
                </tr>
            </thead>
            <tbody>
                {% if organizations %}
                    {% for org in organizations %}
                        <tr>
                            <td>{{ org.name }}</td>
                            <td>{{ org.address }}</td>
                            <td>{{ org.contact }}</td>
                            <td>{{ org.email }}</td>
                            <td>{{ org.org_type}}</td>
                            <td><a href="{{ org.legal_document }}" target="_blank"><img src="{{ org.legal_document }}" style="height: 50px; width: 50px;"></a></td>
                            <td>{{ org.coordinator_name }}</td>
                            <td>{{ org.coordinator_email }}</td>
                            <td>{{ org.coordinator_contact }}</td>
                            <td>{{ org.created_date }}</td>                         
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="12">No organizations found.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>        
        <p>Total No Of Organizations: {{ organizations|length }}</p>
    </div>    
{% endblock %}
