{% extends "application.html" %}

{% block head %}
    {{ super() }}   
{% endblock %}

{% block title %} Organization Form {% endblock %}

{% block content %}

    <div class="container" style="margin-top: 100px;">
        <h1>Organization Form</h1>

        <form class="my-form" id="organization-form" action="/submit_organization" method="post" enctype="multipart/form-data">
            <label for="organization-name">Organization Name:</label>
            <input type="text" id="organization-name" name="organization-name" required>
            
            <label for="organization-address">Organization Address:</label>
            <input type="text" id="organization-address" name="organization-address" required>
            
            <label for="organization-contact">Organization Contact:</label>
            <input type="text" id="organization-contact" name="organization-contact" required>
            <div class="error-message" id="contact-error-message"></div>
            
            <label for="organization-email">Organization Email:</label>
            <input type="email" id="organization-email" name="organization-email" required>
            <div class="error-message" id="email-error-message"></div>
            
            <label for="organization-type">Organization Type:</label>
            <select id="organization-type" name="organization-type" required>
                <option value="" selected disabled>Select Organization Type</option>
                <option value="Public Limited Company">Public Limited Company</option>
                <option value="Private Limited Company">Private Limited Company</option>
                <option value="Registered Trust">Registered Trust</option>
                <option value="Registered Society">Registered Society</option>
                <option value="Registered Resident Welfare Association (RWA)">Registered Resident Welfare Association (RWA)</option>
                <option value="Section 8 Company">Section 8 Company</option>
                <option value="New Governmental Organization">New Governmental Organization</option>
                <option value="Other">Other</option>
            </select>
            
            <label for="organization-activities">Organization Activities:</label>
            <textarea id="organization-activities" name="organization-activities"></textarea>
            
            <label for="organization-legal-status-document">Legal Status Document:</label>
            <input type="file" id="organization-legal-status-document" name="organization-legal-status-document" accept=".pdf,.jpg,.jpeg">  <!--  accept=".pdf,.doc,.docx">-->
  
            <label for="coordinator-name">Coordinator Name:</label>
            <input type="text" id="coordinator-name" name="coordinator-name" required>
            
            <label for="coordinator-email">Coordinator Email:</label>
            <input type="email" id="coordinator-email" name="coordinator-email" required>
            <div class="error-message" id="coordinator-email-error-message"></div>
            
            <label for="coordinator-contact">Coordinator Contact:</label>
            <input type="text" id="coordinator-contact" name="coordinator-contact" required>
            <div class="error-message" id="coordinator-contact-error-message"></div>
            
            <button type="submit" id="submitButton">Submit</button>
        </form>

        <div class="alert" id="messageAlert" style="display: none;"></div>

        
        <script>
            document.addEventListener('DOMContentLoaded', function () {

                var organizationForm = document.getElementById('organization-form');
                var messageAlert = document.getElementById('messageAlert');
                var submitButton = document.getElementById('submitButton'); // Gets the submit button
                // var submitButton = document.querySelector('button[type="submit"]');
                // this js is used to validate if the document is 1 of these '.pdf', '.jpg', '.jpeg' if it is any thing appart from these it will give an allert that says the uploaded folder should be 1 of those types 
                var allowedExtensions = ['.pdf', '.jpg', '.jpeg'];
               
                organizationForm.addEventListener('submit', function (event) {
                event.preventDefault(); // Prevent default form submission

                //submitButton.addEventListener('click', function () {
                const formData = new FormData(organizationForm);

                // Check if a file is selected
                var legalStatusDocumentInput = document.getElementById('organization-legal-status-document');
                if (legalStatusDocumentInput.files.length === 0) {
                    displayMessage('alert-danger', 'Please select a document.');
                    return;
                }

                // Check the file extension
                var fileName = legalStatusDocumentInput.files[0].name;
                var fileExtension = fileName.substring(fileName.lastIndexOf('.')).toLowerCase();

                if (!allowedExtensions.includes(fileExtension)) {
                    displayMessage('alert-danger', 'Invalid file type. Please select a .pdf, .jpg, or .jpeg document.');
                    return;
                }

                // Disable the submit button during the AJAX request
                submitButton.disabled = true;

                $.ajax({
                    url: '/submit_organization',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                    handleAjaxResponse(result);
                    },
                    error: function (xhr, status, error) {
                    console.error('AJAX Error:', error);
                    displayMessage('alert-danger', 'An error occurred. Please try again.');
                    hideAlertMessage();
                    // Re-enable the submit button on error
                    submitButton.disabled = false;
                    }
                });
                });

                function handleAjaxResponse(result) {
                
            // submitButton.disabled = true;// Disable the submit button
                if (result.status === 'success' || result.status === 'error') {
                    displayMessage(result.status === 'success' ? 'alert-success' : 'alert-danger', result.message);
                    setTimeout(function () {
                    organizationForm.reset();
                    hideAlertMessage();

                    submitButton.disabled = false;// Re-enable the submit button after form reset
                    }, 3000);
                    hideError('contact');
                    hideError('email');
                    hideError('coordinator-email');
                    hideError('coordinator-contact');

                    if (result.status === 'success') {
                    setTimeout(function () {
                        organizationForm.reset();
                        hideAlertMessage();
                    }, 3000);
                    }
                } else {
                        
                    hideAlertMessage();
                        // Re-enable the submit button if the status is not success
                    submitButton.disabled = false;
                }
                }

                // Event listener for organization contact
                var organizationContactInput = document.getElementById('organization-contact');
                organizationContactInput.addEventListener('input', function () {
                var contactValue = organizationContactInput.value;
                if (!/^\d{10}$/.test(contactValue)) {
                    displayError('contact', 'Organization contact should contain 10 digits.');
                } else {
                    hideError('contact');
                }
                });

                // Event listener for coordinator contact
                var coordinatorContactInput = document.getElementById('coordinator-contact');
                coordinatorContactInput.addEventListener('input', function () {
                var coordinatorContactValue = coordinatorContactInput.value;
                if (!/^\d{10}$/.test(coordinatorContactValue)) {
                    displayError('coordinator-contact', 'Coordinator contact should contain 10 digits.');
                } else {
                    hideError('coordinator-contact');
                }
                });

                // Event listener for organization email
                var organizationEmailInput = document.getElementById('organization-email');
                organizationEmailInput.addEventListener('input', function () {
                var emailValue = organizationEmailInput.value;
                if (!isValidEmail(emailValue)) {
                    displayError('email', 'Invalid email address.');
                } else {
                    hideError('email');
                }
                });

                // Event listener for coordinator email
                var coordinatorEmailInput = document.getElementById('coordinator-email');
                coordinatorEmailInput.addEventListener('input', function () {
                var coordinatorEmailValue = coordinatorEmailInput.value;
                if (!isValidEmail(coordinatorEmailValue)) {
                    displayError('coordinator-email', 'Invalid email address.');
                } else {
                    hideError('coordinator-email');
                }
                });

                function isValidEmail(email) {
                    // Updated email validation logic to check for '@' and '.'
                return /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email);
                }

                function displayError(fieldId, errorMessage) {
                var errorField = document.getElementById(fieldId + '-error-message');
                errorField.innerHTML = errorMessage;
                errorField.style.display = 'block';
                }

                function hideError(fieldId) {
                var errorField = document.getElementById(fieldId + '-error-message');
                errorField.innerHTML = '';
                errorField.style.display = 'none';
                }

                // Hide alert message on input change
                organizationForm.addEventListener('input', function () {
                hideAlertMessage();
                });

                function hideAlertMessage() {
                messageAlert.style.display = 'none';
                }

                function displayMessage(type, message) {
                messageAlert.innerHTML = '<div class="alert ' + type + '">' + message + '</div>';
                messageAlert.style.display = 'block';
                }
            });
        </script>
    </div>
{% endblock %}
   
