{% extends "application.html" %}
{% block head %}
  {{ super() }}
<!--<link rel="stylesheet" href="{{ url_for('static', filename='css/cbtp.css') }}"> -->   
{% endblock %}

{% block title %} Homepage {% endblock %}
    
{% block content %}
    <div class="container" style="margin-top: 150px; margin-bottom: 800px;">
        <h2 style="text-align: center;">Participant Details</h2>
        <form method="POST" id="update-status-form" style="margin-bottom: 50px;">
            <table class="my-table table table-striped table-bordered border-dark" style="margin-bottom: 50px;" >
                <tr>
                    <td><strong>id:</strong></td>
                    <td>{{ participant_data['id'] }}</td>
                </tr>        
                <tr>
                    <td><strong>Name:</strong></td>
                    <td>{{ participant_data['name'] }}</td>
                </tr>
                <tr>
                    <td><strong>Status:</strong></td>
                    <td>
                        <select class="status-select" name="status" data-participant-id="{{ participant_data['id'] }}" data-initial-status="{{ participant_data['status'] }}">
                            <option value="{{ participant_data['status'] }}" selected>{{ participant_data['status'] }}</option>
                            {% if participant_data['status'] not in ['NEW','ONGOING', 'DROP-OUT'] %}
                            <option value="CERTIFIED">CERTIFIED</option>
                            {% endif %}
                            <!--  <option value="COMPLETED">COMPLETED</option>
                            <option value="DROP-OUT">DROP-OUT</option>--> 
                            <!-- this [[[ value="DROP-OUT"  ]]]value is only getting saved in the database in the table  -->
                        </select>                
                   </td>
                </tr>
                <tr>
                    <td><strong>Contact:</strong></td>
                    <!--<td>{{ participant_contact }}</td>-->
                    <td>{{ participant_data['contact'] }}</td>
                </tr>
                <tr>
                    <td><strong>Email:</strong></td>
                    <td>{{ participant_data['email'] }}</td>
                </tr>
                <tr>
                    <td><strong>Age:</strong></td>
                    <td>{{ participant_data['age'] }}</td>
                </tr>
                <tr>
                    <td><strong>Gender:</strong></td>
                    <td>{{ participant_data['gender'] }}</td>
                </tr>
                <tr>
                    <td><strong>Address:</strong></td>
                    <td>{{ participant_data['address'] }}</td>
                </tr>
                <tr>
                    <td><strong>Training Location Address:</strong></td>
                    <!--<td>{{ participant_data['address'] }}</td>-->
                    <td>{{ participant_data['training_location_addres'] }}</td>
                
                </tr>
                <tr>
                    <td><strong>Registered On:</strong></td>
                    <td>{{ participant_data['created_date'] }}</td>
                </tr>
                <tr>
                    <td><strong>Participant Code:</strong></td>
                    <td>{{ participant_data['code'] }}</td>
                </tr>
                <tr>
                    <td><strong>Hours Trained:</strong></td>
                    <td>{{ participant_data['total_hours_trained'] }} hours</td>
                </tr>
                <tr>
                    <td><strong>Sessions Attended:</strong></td>
                    <td>{{ participant_data['session_count'] }}</td>
                </tr>
            </table>
            <div style="text-align: center; margin-top: 10px;" >
                <button type="button" id="update-button" style="background-color: green; color: white;">Update</button>
            </div>    
        </form>
        <!-- Check if there is feedback data and render the feedback section -->
        {% if feedback_data %}
        <h2 style="text-align: center;">Feedback Information</h2>
        <div class="container">
            <table class="my-table table table-striped table-bordered border-dark" >
                {% for feedback_item in feedback_data %}
                <tr>
                    <td><strong>Rate Training Sessions:</strong></td>
                    <td>{{ feedback_item['sessions_rating'] }}</td>
                </tr>
                <tr>
                    <td><strong>Learner Guide Useful:</strong></td>
                    <td>{{ feedback_item['lguide_useful'] }}</td>
                </tr>
                <tr>
                    <td><strong>Feedback:</strong></td>
                    <td>{{ feedback_item['feedback'] }}</td>
                </tr>
                <tr>
                    <td><strong>Confident to Ride:</strong></td>
                    <td>{{ feedback_item['confident'] }}</td>
                </tr>
                <tr>
                    <td><strong>Trainer Evaluation:</strong></td>
                    <td>{{ feedback_item['trainer_rating'] }}</td>
                </tr>
                <tr>
                    <td><strong>Trainer Feedback:</strong></td>
                    <td>{{ feedback_item['trainer_feedback'] }}</td>
                </tr>
                <tr>
                    <td><strong>Feedback Created At:</strong></td>
                    <td>{{ feedback_item['created_at'] }}</td>
                    <!--<td>{{ feedback_item['feedback_created_at'] }}</td>-->
                </tr>
                {% endfor %}
            </table>
        </div>
        {% else %}
        <p style="text-align: center;">Feedback data for this participant is currently unavailable.  </p>
        {% endif %}
        <!-- JavaScript for Updating Participant Status -->
        <script>
            $(document).ready(function () {
                $("#update-button").click(function () {
                    // Create an array to store updates
                    var updates = [];

                    // Loop through all select elements
                    $(".status-select").each(function () {
                        var participantId = $(this).data("participant-id");
                        var newStatus = $(this).val();
                        var initialStatus = $(this).data("initial-status");

                        console.log("participantId:", participantId);
                        console.log("newStatus:", newStatus);
                        console.log("initialStatus:", initialStatus);
        
                        // Check if the status has changed
                        if (newStatus !== initialStatus) {
                            updates.push({
                                "participantId": participantId,
                                "newStatus": newStatus,
                            });
                        }
                    });
        
                    // Log the updates array
                    console.log("Updates:", updates);
        
                    // Send an AJAX request to update the statuses
                    $.ajax({
                        type: "POST",
                        url: "/update_participant_statuses_admin",
                        contentType: "application/json",
                        data: JSON.stringify(updates),
                        success: function (response) {
                            var messageDiv = $("#message-div");
                            messageDiv.empty();
        
                            console.log("Response from server:", response);
        
                            if (response.success) {
                                messageDiv.html('<div class="alert alert-success" role="alert">Participant status updated successfully.</div>');
                            } else {
                                messageDiv.html('<div class="alert alert-danger" role="alert">Unable to update participant status. An error occurred.</div>');
                            }
                        },
                        error: function () {
                            console.error("Error occurred during AJAX request");
        
                            var messageDiv = $("#message-div");
                            messageDiv.empty();
                            messageDiv.html('<div class="alert alert-danger" role="alert">Unable to update participant status. An error occurred.</div>');
                        },
                    });
                });
            });
        </script>
        <div class="alert-message" id="message-div"></div>
    </div>
{% endblock %}


