{% extends "application.html" %}
{% block head %}
    {{ super() }}
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>                      
{% endblock %}

{% block title %} Homepage {% endblock %}
      
{% block content %}
    <div class="container" style="margin-top: 150px;">
        <h1>Participant Form</h1>
        <form class="my-form" id="participantForm" action="/submit" method="POST" onsubmit="return validateRegistrationForm();">
            <label for="participant_name">Name:</label>
            <input type="text" id="participant_name" name="participant_name" required>

            <label for="participant_email">Email:</label>
            <input type="email" id="participant_email" name="participant_email" required onblur="validateEmail()">
            <span id="email_error" class="error"></span>

            <label for="participant_contact">Contact No:</label>
            <input type="tel" id="participant_contact" name="participant_contact" required onblur="validateContact()">
            <span id="contact_error" class="error"></span>
        
            <label for="participant_address">Address:</label>
            <textarea id="participant_address" name="participant_address"></textarea>

            <label for="participant_age">Age:</label>
            <select id="participant_age" name="participant_age" required>
                <option value="">Select age range</option>
                <option value="5-10">5-10</option>
                <option value="11-20">11-20</option>
                <option value="21-30">21-30</option>
                <option value="31-40">31-40</option>
                <option value="41-50">41-50</option>
                <option value="51-60">51-60</option>
                <option value="61-70">61-70</option>
            </select>

            <label for="participant_gender">Gender:</label>
            <select id="participant_gender" name="participant_gender" required>
                <option value="">Select gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Others">Others</option>
            </select>
        
            <label for="training_location">Training Location:</label>
            <select id="training_location" name="training_location" onchange="showAddress()" required>
                <option value="">Select a location</option>
                {% for training_location in training_locations %}
                <option value="{{ training_location.training_location }}" data-address="{{ training_location.training_location_address }}">{{ training_location.training_location }}</option>
                {% endfor %}
            </select>
            <p id="training_location_address"></p>

            <input type="submit" value="Register" id="submitBtn" onclick="submitForm()">
        </form>
       <!-- <div class="alert" id="messageAlert" style="display: none;"></div>-->
        <br>
        <p class="text-center">If you have already registered, please create an account to login : <a href="/signup">Create an account  </a></p>
    </div> 
  
   
    <script> 
        function validateEmail() {
            var emailInput = document.getElementById("participant_email");
            var email = emailInput.value.trim();
            var emailError = document.getElementById("email_error");    
    
            if (email.length > 0) { // it  checks if the email is not empty and then then if emails is there it checks 
                var atIndex = email.indexOf("@");//it checks if it contains @ nd .
                var dotIndex = email.lastIndexOf(".");
                if (atIndex < 1 || dotIndex < (atIndex + 2) || (dotIndex + 2) >= email.length) { // depending on the validation it sets nd adds the error or removes the error class frm the input
                    emailError.textContent = "Invalid email id.";
                    emailInput.classList.add("error");
                } else {
                    emailError.textContent = "";
                    emailInput.classList.remove("error");
                }
            } else {
                emailError.textContent = "";
                emailInput.classList.remove("error");
            }
        }
        function validateContact() {
            var contactInput = document.getElementById("participant_contact");
            var contact = contactInput.value.trim();
            var contactError = document.getElementById("contact_error");
    
            if (contact.length > 0) { //It checks if the contact number is not empty 
                if (contact.length !== 10 || !/^\d{10}$/.test(contact)) { // checks whether it consists of exactly 10 digits if it does not contain exactly 10 digit it is considered  invalid.
                    contactError.textContent = "Invalid contact number. Contact number should consist of 10 digits.";
                    contactInput.classList.add("error");
                } else {
                    contactError.textContent = "";
                    contactInput.classList.remove("error");
                }
            } else {
                contactError.textContent = "";
                contactInput.classList.remove("error");
            }
        }
        function showAddress() { // js function named showaddress
            var select = document.getElementById("training_location"); //gets an HTML element with the id "training_location" and stores it in the variable select which is displayed as a dropdown list
            var address = document.getElementById("training_location_address");  //gets an HTML element with the id "training_location_address" and stores it in the variable address, this is where the address information will be displayed.
            var selectedOption = select.options[select.selectedIndex];// It retrieves the currently selected option from the select element and stores it in the variable selectedOption. This allows you to access the data associated with the selected option.
            address.textContent = selectedOption.getAttribute("data-address");// it  updates the displayed address by taking the value stored in the "data-address" attribute of the selected option in a dropdown and setting it as the visible text for the address element.
        }
    </script>


<!--send the form data and display the return message as an alert -->
    <script>
        $(document).ready(function () { //This ensures that the enclosed code runs only after the DOM has fully loaded.
            $('#participantForm').submit(function (event) {//This attaches a submit event handler to the form with the ID "participantForm". When this form is submitted, the provided function is executed.(insidde this there are below 2 thing that hapeen )
                event.preventDefault();//This prevents the default form submission behavior, ensuring that the form doesn't perform a traditional synchronous submission (that is form action).
                var formData = $(this).serialize();//The this keyword that reffers to the form id , within the context of the submit event handler function, refers to the HTML form element that triggered the event. In this case, it is the form with the ID "participantForm" because the event handler is attached to that specific form using $('#participantForm').submit(...).  // Within the event handler function, this refers to the form element that triggered the submit event. $(this) converts it into a jQuery object, and .serialize() then serializes the form data into a format that can be easily sent in an HTTP request.

                $.ajax({
                    type: 'POST',
                    url: "/submit", // Update the URL to match your endpoint
                    data: formData,
                    success: function (response) {
                        alert(response.message);

                        if (response.alert_type === 'success') {
                            window.location.href = '/signup';
                            
                        } else {
                            $('#participantForm')[0].reset();
                        }
                    },
                    error: function (xhr, alert_type, error) {
                        var responseText = xhr.responseJSON;
                        alert(responseText && responseText.message || 'An error occurred while processing the signup.');
                    }
                });
            });
        });
    </script>

{% endblock %}