{% extends "application.html" %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block title %}Participants Information {% endblock %}

{% block content %}
    <div class="container" style="margin-top: 150px; ">
        <h1>Participants Information</h1>
        <table class="my-table table table-striped table-bordered border-dark ">
            
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Contact</th>
                    <th>Training Location</th>
                    <th>Status</th>
                    <th>Date of Registration</th>
                </tr>
            </thead>
            <tbody>
                {% for participant in participants %}
                <tr>
                    <td>{{ participant['participant_code'] }}</td>
                    <!--<td>{{ participant['participant_name'] }}</td>--> 
                    <td>  <a href="{{ url_for('admin.participant_admin', participant_id=participant['participant_id']) }}">  {{ participant['participant_name'] }}</a> </td>
                    <td>{{ participant['participant_email'] }}</td>
                    <td>{{ participant['participant_contact'] }}</td>
                    <td>{{ participant['training_location'] }}</td>
                    <td>{{ participant['participant_status'] }}</td>
                    <td>{{ participant['participant_created_at'] }}</td>                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}