{% extends "application.html" %}
{% block head %}
  {{ super() }}
  <!--Participant_sessions_info is displayed once logged-in as participant, in the sesson menu  -->
{% endblock %}
{% block title %} Participant Session Info {% endblock %} 
{% block content %}
    <div class="container" style="margin-top: 150px; margin-bottom: 550px;">
        <h2 style="text-align: center; margin-top: 150px; margin-bottom: 50px;">Sessions Attended </h2>
        <table class="my-table table-bordered border-dark">
            <thead>
                <tr>
                    <!-- <th>Date and Time</th>-->
                    <th>Hours Trained</th>
                    <th>Picture</th>
                    <th>Video</th>
                    <th>Description</th>
                    <th>Trainer Name</th>
                </tr>
            </thead>
            <tbody>
                {% for session in session_details %}
                    <tr>
                        <!-- <td>{{ session['scheduled_datetime'] }}</td>-->
                        <td>{{ session['hours_trained'] }}</td>
                        <td><a href="{{ session['picture_path'] }}" target="_blank"><img src="{{ session['picture_path'] }}" style="height: 50px; width: 50px;"></a></td>
                        <td><video controls width="100"><source src="{{ session['video_path'] }}" type="video/mp4"></video></td>
                        <td>{{ session['description'] }}</td>
                        <td>{{ session['trainer_name'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
