{% extends "application.html" %}
{% block head %}
  {{ super() }}   
{% endblock %}
{% block title %}Sessions Conducted {% endblock %}
{% block content %}
    <div style="margin-top: 100px;">
        <h2 style="text-align: center; margin-top: 150px; margin-bottom: 50px;">Sessions Conducted</h2>
        <table class="my-table table table-striped table table-bordered border-dark ">
            <thead>
                <tr>
                    <th>Trainer Name</th>
                    <th>Participant Name</th>
                <!-- <th>Sessions conducted </th>-->
                    <th>Training Start Date</th>
                    <th>Training End Date </th>
                    <th>Hours Trained</th>
                    <th>Picture Path</th>
                    <th>Video Path</th>
                    <th>Description</th>
                    <th>Last Updated Date</th>   
                </tr>
            </thead>
            <tbody>
                {% for session in sessions %}
                    <tr>
                        <td><a href="{{ url_for('admin.trainer_details', id=session['id']) }}">{{ session['name'] }}</a></td>
                        <td>  <a href="{{ url_for('admin.participant_admin', id=session['id']) }}">  {{ session['participant_name'] }}</a> </td>
                        <!--<td>{{session['actual_datetime']}}</td>-->
                        <td>{{ session['training_start'] }}</td>
                        <td>{{session['training_end']}}</td>
                        <td>{{ session['hours_trained'] }}</td>
                        <td><a href="{{ session['picture_path'] }}" target="_blank"><img src="{{ session['picture_path'] }}" style="height: 50px; width: 50px;"></a></td>
                        <td><video controls width="100"><source src="{{ session['video_path'] }}" type="video/mp4"></video></td>
                        <td>{{ session['description'] }}</td>
                        <td>{{ session['update_date'] }}</td>     
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}