<div class="container mt-3" style="max-width: 700px;">
  <div class="custom-card  p-4 d-flex flex-column justify-content-between">
    <h2 >Latest Updates</h2>
      <div class="card-body">
        <!--<h5 class="card-title mb-2">Latest Updates</h5>-->
        <hr class="text-gray-700">
        <ul class="card-list">
          <li>Training Locations<span class="plain-number">{{ total_training_location_address }}</span></li>
          <li>Active Trainers<span class="plain-number">{{ total_trainers }}</span></li>
          <li>Participants Enrolled <span class="plain-number">{{ total_participants }}</span></li>
          <li>participants trained <span class="plain-number">{{ total_completed_certified }}</span></li>
          <li>participants Under Training<span class="plain-number">{{ total_ongoing }}</span></li>
          <!--- <li>Dropouts: <span class="plain-number">{{ total_dropouts }}</span></li>
          <li>Uncontacted Participants: <span class="plain-number">{{ total_uncontacted }}</span></li>-->
        </ul>
      </div>
      <hr class="text-gray-700">
      <div class="card-footer">
        <small class="text-body-secondary">Last updated on 11 May</small>
      </div>
  </div>
</div>

