<div class="d-flex justify-content-center mt-5" style="background-color: #f0f0f0;">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" style="max-width: 1200px;">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <!-- Section 1 -->
                <section class="container py-4" id="skills">
                    <div class="row mt-4 py-3 justify-content-center">
                        <div class="col-4 mt-4">
                            <div class="card d-flex flex-column align-items-center text-center bg-white p-4">
                                <i class="fa fa-fw fa-user fa-lg"></i>
                                <h3 class="mt-4 h4">Preeti</h3>
                                <p class="text-center">Harish and the Altmo Ride School team deserve thanks for today's session, which boosted my confidence and enabled me to cycle independently without fears.</p>
                            </div>
                        </div>
                        <div class="col-4 mt-4">
                            <div class="card d-flex flex-column align-items-center text-center bg-white p-4">
                                <i class="fa fa-fw fa-user fa-lg"></i>
                                <h3 class="mt-4 h4">Suman Sakshi</h3>
                                <p class="text-center">It was an incredible learning journey.Expert trainers, motivation, and vibrant energy made learning a joy. Their dedication, even with one candidate, was remarkable, boosting my confidence. Thanks! </p>
                            </div>
                        </div>
                        <div class="col-4 mt-4">
                            <div class="card d-flex flex-column align-items-center text-center bg-white p-4">
                                <i class="fa fa-fw fa-user fa-lg"></i>
                                <h3 class="mt-4 h4">Kamal Verma</h3>
                                <p class="text-center">Thanks, Harish, for your consistent training and support. Your insights into bicycle basics were invaluable, and your help in getting me pedaling and balanced made my day!</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <!--
            <div class="carousel-item">
                 
                 <section class="container py-4" id="skills">
                    <div class="row mt-4 py-3 justify-content-center">
                        <div class="col-4 mt-4">
                            <div class="card d-flex flex-column align-items-center text-center bg-white p-4">
                                <i class="fa fa-fw fa-user fa-lg"></i>
                                <h3 class="mt-4 h4">First</h3>
                                <p class="text-center">hgj biuhjh njkhoj bjhjio bhjguhoi bgukkhuihhhk khhhhhhhh bkjjjjjjjjjjjjjjj hkjhi bhjuhil buhuio </p>
                            </div>
                        </div>
                        <div class="col-4 mt-4">
                            <div class="card d-flex flex-column align-items-center text-center bg-white p-4">
                                <i class="fa fa-fw fa-user fa-lg"></i>
                                <h3 class="mt-4 h4">Second</h3>
                                <p class="text-center">mnkjk</p>
                            </div>
                        </div>
                        <div class="col-4 mt-4">
                            <div class="card d-flex flex-column align-items-center text-center bg-white p-4">
                                <i class="fa fa-fw fa-user fa-lg"></i>
                                <h3 class="mt-4 h4">Third</h3>
                                <p class="text-center">bjhk nmbm bjhbk</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            -->
            <!--
            <div class="carousel-item">
                <img src="/static/Image/banner-img.jpg" class="d-block w-100 carousel-img" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide</h5>
                    <p>Some representative placeholder content for the third slide.</p>
                </div>
            </div>-->
        </div>
        
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
