 <div class="container col-lg-5" style="margin-top: 300px;">
  <div class="text-gray-800 text-center lg:text-left text-5xl lg:text-7xl tracking-tight leading-10 font-bold">
    <h1 class="text-gray-900 text-lg lg:text-xl font-semibold"> Cycling Skills for Safer, Greener Cities</h1>
  </div>
</div>
<div class="container col-lg-6">
  <div class="text-gray-800 text-center lg:text-left text-5xl lg:text-7xl tracking-tight leading-10 font-bold">
    <p class="text-gray-900 text-lg lg:text-xl" style="color: #5e5d5d; ">AltMo Ride School empowers individuals to make climate-positive sustainable transport choices through confidently cycling in cities, empowering urban riders for change.</p>
  </div>
</div>
<div class="d-flex justify-content-center">
  <div class="capsule-container">
    <!-- Walk icon-->
    <img style="height: 23px; width: 23px; margin-right: 15px; margin-left: 10px;" src="\static\Image\walk_icon.svg">
    <!-- Cycle icon-->
    <img style="height: 25px; width: 25px; margin-right: 20px;" src="\static\Image\cycle_icon.svg">
    <!-- Transit icon-->
    <img style="height: 21px; width: 21px; margin-right: 20px;" src="\static\Image\public_transit_icon.svg">
    <!-- EV icon-->
    <img style="height: 25px; width: 25px; margin-right: 15px;" src="\static\Image\ev_icon.svg">
  </div>
</div>
<div class="justify-content-between text-justify content justify-content-md-center" style="margin-top: 50px; margin-bottom: 300px; text-align: center;">
  <a href="participant-form" class="btn btn-altmo-green btn-block rounded-lg " style="width: 180px; margin-right: 15px;">Participant</a>
  <a href="trainer-form" class="btn btn-altmo-green btn-block rounded-lg " style="width: 180px; margin-right: 15px;">Trainer</a>
  <a href="organization-form" class="btn btn-altmo-green btn-block rounded-lg " style="width: 180px; margin-right: 15px;">Organisation</a>
  <!--<a href="/signup" class="btn btn-altmo-green-borgered btn-block rounded-lg mt-3" style="width: 180px;">Create Account</a>-->
</div>

