{% extends "application.html" %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block title %} Training Locations List{% endblock %}
   
{% block content %}
    
    <div class="training-list-container" style="margin-top: 100px;">
        <h1 style="text-align: center;">Training Locations List</h1>
        <form action="/delete_location" method="post" id="training-locations-form">
            <table class="training-list-table table table-striped">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>ID</th>
                        <th>Training Location</th>
                        <th>Trainer</th>
                        <th>Location Picture</th>
                        <th></th>
                        <th></th>
                        <th></th>   
                    </tr>
                </thead>
                <tbody>
                    {% for location in training_location if location['id'] != 0 %}
                        <tr>
                            <td><input type="checkbox" name="selected_locations" value="{{ location['id'] }}"></td>
                            <td>{{ location['id'] }}</td>
                            <td class="location" data-address="{{ location['address'] }}" data-latitude="{{ location['latitude'] }}" data-longitude="{{ location['longitude'] }}" >{{ location['training_location'] }}</td>
                            <!--<td class="location" data-address="{{ location['training_location_address'] }}" data-latitude="{{ location['training_location_latitude'] }}" data-longitude="{{ location['training_location_longitude'] }}" data-picture="{{ location['training_location_picture'] }}">{{ location['training_location'] }}</td>-->
                            <td>{{ location['trainer_name'] }}</td>
                            <td><a href="{{ location['picture_path'] }}" target="_blank"><img src="{{ location['picture_path'] }}" style="height: 50px; width: 50px;"></a></td>
                          
                            <td class="address"></td>
                            <td class="latitude"></td>
                            <td class="longitude"></td>
                           <!--<td class="picture"></td>-->
                        </tr>
                    {% endfor %}
                </tbody>                     
            </table>
            <br> 
            <input type="submit" value="Delete Selected" class="btn btn-primary">              
        </form>
        
    </div>

    <div class="card" style="margin-top: 50px;">
        <div class="card-body">
            <h2 class="card-title" style="text-align:center;" >Add a new training location</h2>
            <form action="/add_location" method="post" id="add-location-form" enctype="multipart/form-data" class="my-con-container">
                <div class="form-group">
                    <label for="id">Location ID:</label>
                    <input type="text" class="form-control" id="id" name="id" required>
                </div>
                <div class="form-group">
                    <label for="training_location">Training Location:</label>
                    <input type="text" class="form-control" id="training_location" name="training_location" required>
                </div>
                <div class="form-group">
                    <label for="address">Address:</label>
                    <input type="text" class="form-control" id="address" name="address" required>
                </div>
                <div class="form-group">
                    <label for="latitude">Latitude:</label>
                    <input type="text" class="form-control" id="latitude" name="latitude" required>
                </div>
                <div class="form-group">
                    <label for="longitude">Longitude:</label>
                    <input type="text" class="form-control" id="longitude" name="longitude" required>
                </div>
                <div class="form-group">
                    <label for="location_picture">Location Picture:</label>                
                    <input type="file" class="form-control" id="location_picture" name="location_picture" accept="image/*" required>           
                </div>
                <br>
                <input type="submit" class="btn btn-primary" value="Add Location">
            </form>
        </div>
    </div>
  
    <!--</div>-->
    <script>
        $(document).ready(function () {
            $('#training-locations-form').on('submit', function (event) {
                event.preventDefault();
                $.ajax({
                    url: '/delete_location',
                    type: 'POST',
                    data: $(this).serialize(),
                    success: function (response) {
                        if (response.alert_type === 'success') {
                            alert(response.message);                             
                            $('input[name="selected_locations"]:checked').closest('tr').remove();
                        } else if (response.alert_type === 'error') {
                            alert(response.message); 
                            $('#participantForm')[0].reset();                            
                        }
                    },
                    error: function () {
                        alert('An error occurred. Please try again later.');                        
                    }
                });
            });
            $('#add-location-form').on('submit', function (event) {
            event.preventDefault();            
            var formData = new FormData(this); // Create a FormData object to send the file
            
            $.ajax({
                url: '/add_location',
                type: 'POST',
                data: formData, // Use the FormData object to send the file
                contentType: false, // Set content type to false to let the browser handle it
                processData: false, // Set processData to false to prevent jQuery from processing data
                success: function (response) {
                    alert(response.message);
                    if (response.alert_type === 'success') {
                        $('#add-location-form')[0].reset(); 
                    }else{
                        $('#training-session-form')[0].reset();                   
                    }
                },
                error: function (xhr, status, error) {
                    var responseText = xhr.responseJSON;
                    alert(responseText && responseText.message || 'An error occurred while processing the form.');
                }
            });
        });
        
        $('td.location').on('click', function () {
            var address = $(this).data('address');
            var latitude = $(this).data('latitude');
            var longitude = $(this).data('longitude');
            var picture = $(this).data('picture');
            var row = $(this).closest('tr');
            if (row.hasClass('info-displayed')) {
                // Information is already displayed, hide it
                row.removeClass('info-displayed');
                row.find('.address').text('');
                row.find('.latitude').text('');
                row.find('.longitude').text('');
                row.find('.picture').text('');
            } else {
                // Information is not displayed, show it
                row.addClass('info-displayed');
                row.find('.address').text('Address: ' + address);
                row.find('.latitude').text('Latitude: ' + latitude);
                row.find('.longitude').text('Longitude: ' + longitude);
                row.find('.picture').text('Picture: ' + picture);
                }
            });       
        });
    </script>
{% endblock %}
