{% extends "application.html" %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block title %}Trainer Details{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 100px;">
        <h1 class="mt-5 ">Trainer Details</h1>
        <form method="POST" id="update-status-form">
            <table>
                <tr>
                    <td><strong>Trainer Name:</strong></td>
                    <td>{{ name }}</td>
                </tr>    
                <tr>
                    <td><strong>Trainer Email:</strong></td>
                    <td>{{ email }}</td>
                </tr> 
                <tr>
                    <td><strong>Trainer Contact:</strong></td>
                    <td>{{ contact }}</td>
                </tr> 
                <tr>
                    <td><strong>Training Location Address:</strong></td>
                    <td>{{ address }}</td>
                </tr> 
                <tr>
                    <td><strong>Trainer Address:</strong></td>
                    <td>{{ address }}</td>
                </tr> 
                <tr>
                    <td><strong>Trainer Gender:</strong></td>
                    <td>{{ gender }}</td>
                </tr> 
                <tr>
                    <td><strong>Trainer Aadhar No:</strong></td>
                    <td>{{ aadhar_no }}</td>
                </tr> 
                <tr>
                    <td><strong>Trainer Created At:</strong></td>
                    <td>{{ created_date }}</td>
                </tr> 
                <tr>
                    <td><strong>Trainer Training Completion Date:</strong></td>
                    <td>{{ training_completion }}</td>
                </tr> 
                <tr>
                    <td><strong>Organisation Name:</strong></td>
                    <td> {{ name }}</td>
                </tr>          
                <tr>
                    <td><strong>Trainer Status:</strong></td>
                    <td>
                        <select class="status-select" name="trainer_status" trainer-id="{{ id }}" data-initial-status="{{ status }}">
                            <option value="{{ status }}" selected>{{ status }}</option>
                            <option value="CERTIFIED">CERTIFIED</option>
                            <option value="NOT CERTIFIED">NOT CERTIFIED</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><strong>Trainer Code:</strong></td>
                    <td>{{ code }}</td>
                </tr> 
                <tr>
                    <td><strong>Hours Trained:</strong></td>
                    <td>{{ total_hours_trained }} </td>
                </tr> 
                <tr>
                    <td><strong>Sessions Attended:</strong></td>
                    <td>{{ session_count }}</td>
                </tr> 
            </table>
            <div style="text-align: center;">
                <button type="button" id="update-button"style="background-color: green; color: white;" >Update</button>
            </div>
        </form>
   
        <script>
            $(document).ready(function () {
            $("#update-button").click(function () {
                // Get the selected trainer's ID and new status
                var trainerId = $(".status-select").attr("trainer-id");
                var newStatus = $(".status-select option:selected").val(); // Get the selected option's value

                // Log values to the console for debugging
                console.log("Trainer ID:", trainerId);
                console.log("New Status:", newStatus);

                // Send an AJAX request to update the trainer status
                $.ajax({
                    url: '/trainer_update_status',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ trainerId: trainerId, newStatus: newStatus }),
                    success: function (response) {
                        var messageDiv = $("#message-div");
                                messageDiv.empty();
            
                                console.log("Response from server:", response);
            
                                if (response.success) {
                                    messageDiv.html('<div class="alert alert-success" role="alert">Traniner status updated successfully.</div>');
                                } else {
                                    messageDiv.html('<div class="alert alert-danger" role="alert">Unable to update trainer status. An error occurred.</div>');
                                }
                            },
                            error: function () {
                                console.error("Error occurred during AJAX request");
            
                                var messageDiv = $("#message-div");
                                messageDiv.empty();
                                messageDiv.html('<div class="alert alert-danger" role="alert">Unable to update trainer status. An error occurred.</div>');
                            },
                        });
                    });
                });
        </script>
        <div class="alert-message" id="message-div"></div>
    </div>
{% endblock %}
