{% extends "application.html" %}

{% block head %}
  {{ super() }}
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
{% endblock %}

{% block title %} Trainer Form {% endblock %}

{% block content %}
    <div class="container" style="margin-top: 150px;">
        <h1>Trainer Form</h1>
        <form class="my-form" id="trainerForm" action="/register" method="POST">

            <label for="trainer_name">Name:</label>
            <input type="text" id="trainer_name" name="name" required>

            <label for="trainer_email">Email:</label>       
            <input type="email" id="trainer_email" name="trainer_email" required onblur="validateEmail()">
            <span id="email_error" class="error"></span>
            
            <label for="trainer_contact">Contact No:</label>           
            <input type="text" id="trainer_contact" name="trainer_contact" required onblur="validateContact()">
            <span id="contact_error" class="error"></span>
            
            <label for="trainer_address">Address:</label>           
            <textarea id="trainer_address" name="trainer_address" required></textarea>

            <label for="trainer_age">Age:</label>           
            <input type="text" id="trainer_age" name="trainer_age" required>
            
            <label for="trainer_gender">Gender:</label>          
            <select id="trainer_gender" name="trainer_gender" required>
                <option value="">Select gender</option>
                <option value="Female">Female</option>
                <option value="Male">Male</option>
                <option value="Other">Others</option>
            </select>
            
            <label for="trainer_education">Education Qualification:</label>          
            <select id="trainer_education" name="trainer_education" onchange="handleEducationChange()" required>
                <option value="">Select qualification</option>
                <option value="Below 10th">Below 10th</option>
                <option value="10th / SSLC">10th / SSLC</option>
                <option value="12th / PUC">12th / PUC</option>
                <option value="Graduation">Graduation</option>
                <option value="Post Graduation">Post Graduation</option>
            </select>
            
            <label for="trainer_language">Language:</label>
            <label for="language_kannada" style="margin-right: 5px;">Kannada          
            <input type="checkbox" id="language_kannada" name="trainer_language" value="Kannada"></label>  
            <label for="language_hindi" style="margin-right: 5px;">Hindi 
            <input type="checkbox" id="language_hindi" name="trainer_language" value="Hindi"></label> 
            <label for="language_english" style="margin-right: 5px;">English   
            <input type="checkbox" id="language_english" name="trainer_language" value="English"></label> 
              
            <label for="trainer_aadhar_no">Aadhar Number:</label>          
            <input type="text" id="trainer_aadhar_no" name="trainer_aadhar_no" required onblur="validateAadharNumber()">
            <span id="aadhar_error" class="error"></span>
            
            <label for="organisation_name">Organisation Name:</label>            
            <select id="organisation_name" name="organisation_name" required>
                <option value="">Select organisation</option>
                {% for organisation_name in organisation_names %}
                <option value="{{ organisation_name }}">{{ organisation_name }}</option>
                {% endfor %}
            </select>            
            <input type="submit"id="submitBtn" value="Register">
        </form>        
        <br>
        <p class="text-center">If you have already registered, please create an account to login : <a href="/signup">Create an account </a></p>
    </div>
        <!--below code performs form validation for contact no , email and aadhar_no --> 
        <script>
            function validateRegistrationForm() {
                // Perform additional validation if needed
                return true;
            }
            function validateEmail() {
                var emailInput = document.getElementById("trainer_email");
                var email = emailInput.value;
                var errorElement = document.getElementById("email_error");

                if (!email.includes("@") || !email.includes(".")) {
                    errorElement.textContent = "Invalid email id.";
                    emailInput.focus();
                    return false;
                } else {
                    errorElement.textContent = "";
                    return true;
                }
            }
            function validateAadharNumber() {
                var aadharInput = document.getElementById("trainer_aadhar_no");
                var aadharNumber = aadharInput.value;
                var errorElement = document.getElementById("aadhar_error");

                if (aadharNumber.length !== 12 || isNaN(aadharNumber)) {
                    errorElement.textContent = "Invalid aadhar number.";
                    aadharInput.focus();
                    return false;
                } else {
                    errorElement.textContent = "";
                    return true;
                }
            }
            function validateContact() {
                var contactInput = document.getElementById("trainer_contact");
                var contactNumber = contactInput.value;
                var errorElement = document.getElementById("contact_error");

                if (contactNumber.length !== 10 || isNaN(contactNumber)) {
                    errorElement.textContent = "Invalid contact number.";
                    contactInput.focus();
                    return false;
                } else {
                    errorElement.textContent = "";
                    return true;
                }
            }
        </script>
        <!--the below code sends the form data to the server and displayes the return message inside and simple alert box-->
        <script> 
            $(document).ready(function(){
                $('#trainerForm').submit(function(event){
                    event.preventDefault();
                    var formData = $(this).serialize();

                    $.ajax({
                        url:'/register',
                        method: 'POST',
                        data: formData,
                        success: function (response) { // response just the variable name 
                            alert(response.message );
                            if (response.alert_type === 'success') {
                                window.location.href = '/signup';
                            }else{
                                $('#trainerForm')[0].reset();
                            }
                        },
                        error: function (xhr, status, error) {
                            var responseText = xhr.responseJSON;
                            alert(responseText && responseText.message || 'An error occurred while processing the registration.');
                        }
                    })
                })
            });
        </script>        
    {% endblock %}