<footer class="footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item">
            <a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#exampleModal">About</a>
          </li>
          <li class="list-inline-item">
            &sdot;
          </li>
          <li class="list-inline-item">
            <a href="mailto: councilforactivemobility@gmail.com?subject=[Contact]" class="text-decoration-none">Contact</a>
          </li>
          <li class="list-inline-item">
            &sdot;
          </li>
          <li class="list-inline-item">
            <a href="#" class="text-decoration-none">ಕನ್ನಡ</a>
          </li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">&copy; <img src="\static\Image\AltMo - Ride school.png" height="30" class="d-inline-block align-center px-1" alt="altmo" class="img-thumbnail"> All Rights Reserved.</p>
      </div>
      
      <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item mr-3">
            <a href="#" target="_blank">
              <i class="fab fa-facebook fa-2x fa-fw"style="color: #1877F2;"></i>
            </a>
          </li>
          <li class="list-inline-item mr-3">
            <a href="#" target="_blank">
              <i class="fab fa-twitter-square fa-2x fa-fw" style="color: #1DA1F2;"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.instagram.com/pedalshaale?igshid=OGQ5ZDc2ODk2ZA==" target="_blank">
              <i class="fab fa-instagram fa-2x fa-fw" style="color: #E4405F;"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#" target="_blank">
              <i class="fab fa-telegram-plane fa-2x fa-fw" style="color: #0088CC;"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>