<!DOCTYPE html>
<html>
<head>
    <title>Welcome Admin</title>
    <!-- Include the CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body >

    <!-- Navbar code here (if any) -->
    {% include 'navbar.html' %}
    <img src="\static\Image\banner-img.jpg" alt="home-banner"  >
    <br>
    <div class="container">
    
    <h1>Welcome Admin</h1>
    <div class="container">
    <div class="col-lg-7">
    <div class="px-5 py-3 mx-auto rounded-3 bg-warning">
        <div id="summary-data">
          <!-- Data from the 'summary' route will be displayed here -->
        </div>
      </div>
    </div>
  </div>
      <br>
      <br> 


     <!--start summary that is displayed on the screen is being the includ of summary.html so i am giving the summary.py that is the python code rout over here to fetch the data from the  database and display here an in the form i a, giving the id  that is this code  <div id="summary-data"> -->
  <script>
    // Use AJAX to fetch data from the 'summary' route
    fetch('/summary')

      .then(response => response.text())
      .then(data => {
        // Update the content of the 'summary-data' div with the received data
        document.getElementById('summary-data').innerHTML = data;
      })
      .catch(error => {
        console.error('Error:', error);
      });
  </script>

  <!--end  summary -->

</body>
</html>
