<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trainer Admin Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <style>
        /* Add your custom styles here */
        body {
            font-family: Arial, sans-serif;
            background-color: #f7f7f7;
            padding: 20px;
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
        }

        /* Style for paragraphs */
        p {
            margin-bottom: 10px;
        }

        img {
            height: 50px;
            width: 50px;
        }

        video {
            width: 100%;
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}
    <br>
    <br>
    <br>

    <h1>participant Details</h1>

    <!-- Display trainer details as paragraphs -->
    <p><strong> Name:</strong> {{ participant_name }}</p>
    <p><strong> Email:</strong> {{ participant_email }}</p>
    <p><strong> Contact:</strong> {{ participant_contact }}</p>
    <p><strong> Age:</strong> {{participant_contact }}</p>
    <p><strong> Gender:</strong> {{ participant_gender }}</p>
    <p><strong> Address:</strong> {{ participant_address }}</p>
    <p><strong>Training Location Address:</strong> {{ training_location_address }}</p>
    <p><strong> Registered On </strong> {{ participant_created_at }}</p>
    <p><strong>Status:</strong> {{ participant_status }}</p>
    <p><strong>Participant Code:</strong> {{ participant_code }}</p>

    <p><strong>Hours Trained:</strong> {{ total_hours_trained }} hours</p>
    <p><strong>Sessions Attended:</strong> {{ session_count }}</p>



</body>

    
</html>
