<!DOCTYPE html>
<html>
<head>
  <title>Sessions Table</title>
</head>
<body>
  <table>
    <thead>
      <tr>
        <th>Session ID</th>
        <th>Trainer Name</th>
        <th>Participant Name</th>
        <th>Scheduled Date and Time</th>
        <th>Actual Date and Time</th>
        <th>Hours Trained</th>
        <th>Picture</th>
        <th>Video</th>
        <th>Description</th>
        <th>Session Create Date and Time</th>
        <th>Session Updated Date and Time</th>
      </tr>
    </thead>
    <tbody>
      {% for session in sessions %}
      <tr>
        <td>{{ session[0] }}</td>
        <td>{{ session[1] }}</td>
        <td>{{ session[2] }}</td>
        <td>{{ session[3] }}</td>
        <td>{{ session[4] }}</td>
        <td>{{ session[5] }}</td>
        <td><a href="{{ session[6] }}" target="_blank">{{ session[6] }}</a></td>
        <td><a href="{{ session[7] }}" target="_blank">{{ session[7] }}</a></td>
        <td>{{ session[8] }}</td>
        <td>{{ session[9] }}</td>
        <td>{{ session[10] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>
